<div class="facturas-box">
    <!-- Esta tabla contiene las entradas recientes -->
    <table class="table table-bordered border-dark">
        <tbody>
            <!-- Cabecera de la tabla -->
            <tr>
                <th>Fecha</th>
                <th>Serie</th>
                <th>Episodio</th>
                <th>Precio</th>
            </tr>
            <!--------------------------->
            <ng-content></ng-content>
        </tbody>
    </table>
    <app-facturas-summary></app-facturas-summary>
</div>