<!-- Este es el LOGO de la pagina -->
            <div class="logotype-box">
                <div class="logotype-box">
                    <img src="assets/Polaflix_Logo_Trans.png"/>
                    <p class="logotype-box-logo">Polaflix</p>
                </div>
                <p>Bienvenido John Nieve</p>
                <img src="assets/user.jpeg"/>   
            </div>
            <div class="horizontal-line-separator"></div>
            <!-- Fin del LOGO -->
            <!-- Este es el menú de navegación de la página -->
            <div class="navigation-box">
                <a href="#">Inicio</a>
                <div class="vertical-line-separator"></div>
                <a href="#">Agregar Serie</a>
                <div class="vertical-line-separator"></div>
                <a href="#">Ver Cargos</a>
            </div>